.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.listItem {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(230, 13, 230);
    overflow: hidden;
}

.text {
  text-align: center;
  color: black;
  font-size: 20px;
}
